<h1> Welcome to your Travel Journal! </h1>
<div id=trips-container>
</div>
<div id=trips-show-container>
</div>
<h2 button type="button"  class="btn btn-primary" id="sort_alphabetically"> Sort Trips Alphabetically </h2>
<div id=trips-alphabet>
</div>