<button type="button" class="btn btn-primary" id="all_trips"> Your Trips: </button>
<div class="container p-3">
<div class="row justify-content-md-center">
    <div id=trips-container>
    </div>

</div>
</div>
<br>